.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--header-background-color);
}

.list_active {
  top: 0;
  right: 0;
}

.item {
  color: var(--primary-text-color);
  margin: 0 12px 0 12px;
  transition: all;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.item:hover {
  color: var(--primary-text-color-hovered);
}

@media (min-width: 900px) {
  .list {
    position: static;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    width: fit-content;
    height: auto;
    background-color: transparent;
  }
}

@media (min-width: 980px) {
  .list {
    margin-left: 25px;
  }
}
