.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: var(--second-background-color);
}

.container p {
  margin-top: -90px;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

.loginLink {
  color: var(--orange-color);
  transition: all 200ms;
}

.loginLink:hover {
  color: var(--orange-color-hovered);
}
