.container {
  flex: 0 0 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--apiKey-gray-color);
  font-size: 0.8rem;
  white-space: nowrap;

  text-align: left;
}

.botsQuantity {
  color: var(--apiKey-gray-color);
}

.keyIcon {
  color: var(--key-icon-color);
  min-width: 26px;
  min-height: 26px;
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.robotIcon {
  color: var(--robot-icon-color);
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  margin-right: 17px;
  margin-left: 4px;
}

@media (min-width: 768px) {
  .container div {
    margin-top: 1.5px;
    margin-bottom: 2px;
    font-size: 0.97rem;
  }
}
