.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.inputBox {
  position: relative;
  width: 100%;
  background-color: transparent;
}

.input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.3px;

  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  outline: 0;

  transition: all;
  transition-duration: 200ms;
}

.input:focus {
  border: 1px solid var(--orange-color);
}

.input:hover {
  border: 1px solid var(--orange-color);
}

.errorInput {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.3px;

  width: 100%;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgb(159 18 57);
  transition: all;
  transition-duration: 200ms;
}

.smallPlaceHolder {
  font-size: 14px;
  letter-spacing: 1.5px;
}

.smallPlaceHolder::placeholder {
  font-size: 13px;
}

.inputWithValidationIcon {
  padding-right: 38px;
}

@media (min-width: 768px) {
  .container {
    align-items: center;
  }
}
