.table {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 60px;
  row-gap: 30px;
  column-gap: 3%;
  padding: 26px 0% 40px 0%;
  min-height: 570px;
}

.noKeys {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--gray-color);
}

@media (min-width: 900px) {
  .table {
    grid-template-columns: 48.5% 48.5%;
  }
}
